@charset "UTF-8";

@import "./_mixin.scss";

@font-face{
  @include fontface("preOrder app","/fonts/iconfont");
}

.icon,
[class*=icon-]{
  font-family:"preOrder app" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkBox:before { content: "\e601"; }
.icon-checkBox-selected:before { content: "\e600"; }
.icon-checkBox-selected2:before { content: "\e607"; }
.icon-arrow-right:before { content: "\e602"; }
.icon-customs:before { content: "\e603"; }
.icon-beihai-bonded:before{content:"\e604"}
.icon-local-return:before{content:"\e605"}
.icon-beihai-directMail:before{content:"\e604"}
.icon-seller-bonded:before{content:"\e608"}
.icon-zhiyou:before{content:"\e60b"}

