@charset "UTF-8";

$rem :1rem/32;


/*********color**********/
$c1 : #111;
$c2 : #eee;
$c3 : #dedede;
$c4 : #cecece;
$c5 : #9b9b9b;
$c6 : #646464;
$c7 : #383838;
$c8 : #ff6c6c;
$c9 : #cc3333;
$c10 : #e79e99;
$c11 : #ffe8e7;
$c12 : #960000;
$c13 : #fff;
$c14 : #000;
$c15 : #f8f8f8;
$c16 : #c4c4c4;
$c17 : #252525;
$c18 : #e8e8e8;
$c19 : #e11c00;
